.App {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(90deg, #002F52 35%, #326589);
}

.App-header {
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

li {
  list-style: none;
}

.opcoes {
  display: flex;
}

.opcao {
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  width: 10rem;
  text-align: center;
  padding: 0 0.5rem;
}

.opcao:hover {
  background-color: #d1d1d1;
  border-radius: .5rem;
  opacity: 0.8;
}

.icones {
  display: flex;
  font-size: 2rem;
}

.icone {
  margin: 0 0.5rem;
  cursor: pointer;
}